@import '~/@fontsource/roboto/index.css';

#complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.text {
    font-family: 'Roboto';
    text-align: center;
}

.fail {
    color: darkred;
}

#text-container {
    align-self: center;
    justify-self: center;
}